.ant-layout-sider-children {
    color: #fff;
}

.ant-layout-sider {
    background: #666;
}

.ant-tree li .ant-tree-node-content-wrapper {
    color: #fff;

    &.ant-tree-node-selected,
    &:hover {
        color: #000;
    }
}
