/*
* 全局css
* 不知道放哪里了，直接塞这里吧。。
*/

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, button, input, select { margin:0; }
ul, ol { padding-left: 0; list-style:none; }
body { font:12px/1.5 Tahoma,Arial,"Lantinghei SC","Microsoft YaHei","微软雅黑",\5b8b\4f53,sans-serif; color:#333; background:#f2f2f2; }
img { border:0; }
button, input, textarea, select { font-size:100%; font-family:Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', \5b8b\4f53, sans-serif; outline:none; }
table { border-collapse:collapse; border-spacing:0; }
caption, th, em, i { font-style:normal; font-weight:normal; }
caption, th { text-align:left; }
a { text-decoration:none; color:#333; }
a:hover { text-decoration:none; color: #07b;}
/*layout*/
.clearfix { }
.clearfix:after { display:table; content:''; clear:both; }